<footer>
  <section class="css-table">
    <section class="four-column">
      <section class="cell">
        <p>Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p>
      </section>
      <section class="cell">
        <p>Camilo porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p>
      </section>
      <section class="cell">
        <p>Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p>
      </section>
      <section class="cell">
        <p>Mauris porttitor <br />felis eu leo aliquet<br /> ac rutrum odio aliquet</p>
      </section>
    </section>
  </section>
</footer>